{% extends "music/base.html" %}
{% block album_status %}active{% endblock %}
{% block body %}
<div class="form-group container-fluid pl-5">
    <form action="{% url 'music:album-filter' %}" class="form-inline pt-3" method="GET">
        <select name="filter_basis" id="criteria" class="form-control mr-2">
            <option value="artist">Artist</option>
            <option value="genre">Genre</option>
            <option value="album_title">Album Name</option>
        </select>
        <input type="text" name="search_query" class="form-control mr-2" placeholder="Search"> 
        <button class="btn btn-success" type="submit">Search</button>
    </form>
</div>
<div class="card-columns" style="font-family: 'Raleway', sans-serif;">
{% for album in all_albums %}
    <div class="card">
        <img src="{{ album.album_logo.url }}" alt="Cries in Japanese" class="card-img-top img-fluid">
        <div class="card-body">
            <h5 class="card-title"><b>{{ album.album_title }}</b></h5>
            <div style="display: flex; justify-content: space-between;">
                <p class="card-text">{{ album.artist }}</p>
                <p class="card-text">{{ album.genre }}</p>
            </div>
            <div class="card-footer">
                <a href="{% url 'music:detail' album.pk %}"><button class="btn btn-primary">View Details</button></a>
                <form action="{% url 'music:album-delete' album.pk %}" method="post" style="display: inline;">
                    {% csrf_token %}
                    <input type="hidden" name="album_id" value="{{ album.id }}"/>
                    <button class="btn btn-sm btn-danger" type="submit"><i class="fa fa-trash-o"></i></a></button>
                </form>
                <a href="{% url 'music:album-update' album.pk %}"><button class="btn btn-sm btn-warning"><i class="fa fa-edit"></i></button></a>
            </div>
        </div>
    </div>
{% endfor %}
</div>

{% endblock body %}
